

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
/* HEADER */

.header-container {
    width: 100%;
    height: 900px;
    margin-top: 75px;
    margin: 0 auto;
    background-image: url("../img/home-5-hero-image.png"), url("../img/jumbo-overlay.svg");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #f0efef;
}
.nav-container {
    height: 75px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: space-around;
    margin: 0 auto;
}
.nav-left img {
    width: 150px;
    margin-right: 100px;
    margin-top: 25px;
}

.menu-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.menu-nav li {
    color: #513e5e;
    display: inline;
    list-style: none;
    cursor: pointer;
    padding: 0 15px;
    
}

.menu-nav-language {
    display: flex;
    position: relative;
    padding-left: 450px;
    
}
.menu-nav-language select {
    margin: 20px;    
}
.menu-searchbar {
    margin: 30px;
}

.jumbotron{
    width: 500px;
    height: 100%;
    margin-left: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.jumbotron-text h1 {
    font-size: 46px;
    font-weight: 800;
    color: #513e5e;
}
.jumbotron-text h4 {
    color: #b6b8d1;
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0;
    letter-spacing: 1px;
}

.jumbotron-text button {
    background-color: #22ad96;
    color: white;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 10px; 
}
.container-1 {
    background-color: white;
    width: 100%;
    height: 20vh;
}
.container-1-text {
    text-align: center;
    padding: 25px;
    margin: 0 auto;
}
.subtitle {
    font-weight: 600;
    color: #96a6a5;
    margin-top: 40px;
    padding-top: 30px;
    margin-bottom: 20px;
}
.title {
    font-weight: 600;
    color: #513e5e;
    margin-bottom: 20px;
    
}
.lightgreen {
    color: #22ad96;
    font-weight: 400;
    font-size: 45px;
}

.container-2-boxes {
    width: 1500px;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-title {
    font-size:24px;
    font-weight: bold;
    color: #0e0e0e;
    margin-bottom: 20px;
}
.box-subtitle {
    color: #96a6a5;
    margin-bottom: 25px;
}
.start-now {
    
    color: #959999;
    text-decoration: none;
    cursor: pointer;
}

.container-3 {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: flex-start;

}
.container-3-left {
    width: 40%;
    height: 40vh;
    margin-left: 25%;
    background-image: url("../img/underlay-shape-lilla.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
}
.container-3-text {
    height: 500px;
    width: 100%;
    margin-left: 10%;
}


.container-3-box1 {
    width: 500px;
    height: 200px;
    background-color: red;
    margin: 10px 0;
}
.container-3-box2 {
    width: 500px;
    height: 50px;
    margin: 10px 0;
    background-color: red;
}
.container-3-box3 {
    width: 500px;
    height: 50px;
    background-color: red;
}
.container-4 {
    background-color: #f0efef;
    width: 100%;
    height: 150vh;
}
.container-4-text {
    text-align: center;
}
.container-4-boxes {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
.container-4-boxes-item {
    position: relative;
    padding: 10px;
    width: 500px;
}
.images  img {
    border-radius: 10px;
    
}
.info-text h2 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    background-color: #458d76;
    border-radius: 2px;
}
.info-text img {
    width: 7%;
    border-radius: 50%;
    margin-left: 10%;
    
}
.info-text span {
    margin-bottom: 10px;
}
.info-text h3 {
    margin: 0 8%;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}
.course-lessons {
    margin: 8%;
    display: inline-block;
    font-size: 18px;
    color: #959999;
}
.course-lessons small {
    margin-left: 15px;
    font-size: 15px;
    
}
.course-students {
    margin-left: 18px;
    display: inline-block;
    font-size: 15px;
    color: #959999;
}
.course-students small {
    margin-left: 15px;
    font-size: 15px;
    
}
.container-4-button {
    text-align: center;
    padding: 25px;

}
.container-main-button {
    padding: 15px 150px;
    background-color: #22ad96;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.container-5 {
    width: 100%;
    height: 80vh;
}
.container-5-todolist li span {
    letter-spacing: 1px;
    color: #96a6a5;
    line-height: 42px;
}
.fa-check {
    color: #22ad96;
    margin-right: 10px;
    
}
.container-5-todolist ul {
    list-style: none;
    display: inline-block;
}
.container-5-jumbotron {
    width: 100%;
    height: 50vh;
    margin-left: 25%;
    padding-top: 100px;
}
.container-5-jumbotron-text{
    display: inline-block;
    width: 500px;
    height: 500px;
}
.container-5-jumbotron-text h4,.container-5-jumbotron-text h1,.container-5-todolist {
    width: 500px;
}
.container-5-jumbotron-img {
    display: inline-flex;
    flex-direction: column;
}
.container-5-jumbotron-img img {
    width: 100%;
    height: 500px;
    background-image: url('../img/underlay-shape-grey.svg'), url('../img/maxcoach-shape-05.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 80%, 30%;
    background-position-y: 100%, 60%;
    background-position-x: 0, 105%;
}
.container-5-button {
    text-align: center;
    padding: 20px;

}
.container-6 {
    width: 100%;
    height: 80vh;
}
.container-6-jumbotron {
    width: 100%;
    height: 50vh;
    padding-top: 100px; 
    margin-left: 25%;

}

.container-6-jumbotron-text {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin-left: 50px;
}

.container-6-jumbotron-text h4,
.container-6-jumbotron-text h1,
.container-6-jumbotron-text p {
    width: 500px;
}
.container-6-jumbotron-text p {
    color: #96a6a5;
    letter-spacing: 1px;
    margin: 30px 0 ;
}
.container-6-jumbotron-img {
    display: inline-flex;
    flex-direction: column;
}

.container-6-jumbotron-img img {
    width: 100%;
    height: 500px;
    padding: 0 100px;
    background-image:url('../img/maxcoach-shape-01.png'), url('../img/underlay-shape-grey.svg'), url('../img/maxcoach-shape-07.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 25%, 75%, 30%;
    background-position-y: 45%, 100%, 90%;
    background-position-x: -5%, 30%, 100%;
}

.container-6-button {
    text-align: center;
    padding: 20px;

}



.container-7 {
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: white;
}
.container-7-text {
    text-align: center;
}
.container-7-boxes {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    
}

.container-7-boxes-item {
    width: 48%;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: #f0efef;
    border-radius: 3px;
}
.box-meeting {
    width: 75%;
    padding: 25px;
}
.box-date {
    width: 25%;
    text-align: center;
}
.box-meeting p {
    color: #959999;
    padding: 10px;
}
.box-meeting h3 {
    padding: 0 10px;
}

.box-date h3 {
    color: #22ad96;
    font-size: 50px;
    text-align: center;
    padding-top: 25px;
    font-weight: 400;
}
.box-date h4 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.btn-box-date {
    padding: 5px 25px;
    background-color: #22ad96;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.container-7-text-mini {
    margin: 40px auto;
    text-align: center;
}
.container-7-text-mini p {
    color: #959999;
    font-size: 12px;
    font-weight: 400;
}

.container-7-text-mini a {
    color: #22ad96;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}